.vscode/settings.json
.ipynb_checkpoints/cayley-dickson-checkpoint.sage
.ipynb_checkpoints/G2_left-invariant_metric-checkpoint.ipynb
.ipynb_checkpoints/lie-algebras-checkpoint.sage
.ipynb_checkpoints/Proof_of_Theorem_4.4_Part_1-checkpoint.ipynb
.ipynb_checkpoints/Proof_of_Theorem_4.4_Part_2-checkpoint.ipynb
.ipynb_checkpoints/Proof_of_Theorem_4.4_Part_3-checkpoint.ipynb
.ipynb_checkpoints/Proof_of_Theorem_4.4_Part_4-checkpoint.ipynb
.ipynb_checkpoints/Stiefel_manifold-checkpoint.ipynb
.ipynb_checkpoints/The_84_standard_zero_divisors-checkpoint.ipynb
